#login {
    width: 95%;
}

#loginForm {
    display: inline;
}

#loginForm input{
    display: inline;
    margin-left: 5px;
    margin-right: 20px;
    border: #B3A369 1px solid;
}

#welcome {
    max-width: 400px;
    color: #B3A369;
}

.clickable-heading {
    cursor: pointer;
}

#estTime {
    min-width: 345px;
    color: #B3A369;
    font-size: 20px;
}

.widgetBox1 {
    display: inline-block;
    max-width: 390px;
}

.widgetBox2 {
    display: inline-block;
    max-width: 995px;
}

#taskListDisplay {
    overflow: visible;
}

.taskBox {
    padding: 10px 50px 10px 50px;
    background-color: rgba(7, 29, 73, 0.5);

    font-size: 20px;
}

#scheduleWidget {
    max-width: 630px;
}

#scheduleWidget form {
    float: right;
    margin-bottom: 10px;
}

.search {
    max-height: none;
    overflow: visible;
}

.completed {
    text-decoration: line-through;
    opacity: 0.3;
}

.overdue {
    background-color: rgba(255, 0, 0, 0.3);
}

.overdue:hover {
    background-color: rgba(255, 0, 0, 0.3);
}
