table {
    border-collapse: collapse;
    width: 100%;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}

td,
th {
    border: 1px #B3A369 solid;
    padding: 10px 30px;
}

tr {
    transitions: all .2s ease-in-out;
}

tr:hover {
    transform: scale(1.01);
    background-color: rgba(255,255,255,0.2);
    outline: 1px #B3A369 solid;
    /*outline-offset: 2px;*/
}

tr:hover td,
tr:hover th {
    border: none;
}
