table {
    border-collapse: collapse;
    width: 100%;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}

td,
th {
    border: 1px #B3A369 solid;
    padding: 10px;
}

tr {
    transitions: all .2s ease-in-out;
}

tr:hover {
    transform: scale(1.01);
    background-color: rgba(255,255,255,0.2);
    outline: 1px #B3A369 solid;
}

tr:hover td,
tr:hover th {
    border: none;
}

.taskBox {
    border: 1px black solid;
    margin-top: 5px;
}

.taskBox button {
    margin: 0;
    padding: 10px 0 10px 0;
    width: 100%;
    background-color: rgba(7,29,73,0.4);
    border: none;

    font-size: 18px;
    color: white;
    font-family: 'Cabin Sketch', sans-serif;
}

#taskListDisplay {
    max-height: none;
    max-width: none;
    overflow: visible;
}

.taskListTable {
    margin: 0;
}

h4 {
    border: 1px #B3A369 solid;
    background-color: #071D49;
    text-align: center;
    padding: 10px;
}