/*******************************************************************************
 * @file
 * @brief Contains the styling for the piano and music sheet.
 ******************************************************************************/


/*******************************************************************************
 * Piano formatting
 ******************************************************************************/

div.piano {
  display: inline-block;
  width: 425px;
}

ul.piano {
  width: 700px;
}

input[type=radio] {
  visibility: hidden;
}

.note {
  background: white;
  margin: inherit;
  float: left;
  position: relative;
  height: 216px;
  width: 50px;
  padding-top: 175px;
  font-family: 'Cormorant Garamond', sans-serif;
  font-weight: bold;
  font-size: 100%;
  text-align: center;
  border:1px solid #ccc;
  -webkit-box-shadow:inset 0 1px 0px #fff,inset 0 -1px 0px #fff,inset 1px 0px 0px #fff,inset -1px 0px 0px #fff,0 4px 3px rgba(0,0,0,0.7);
  -moz-box-shadow:inset 0 1px 0px #fff,inset 0 -1px 0px #fff,inset 1px 0px 0px #fff,inset -1px 0px 0px #fff,0 4px 3px rgba(0,0,0,0.7);
  box-shadow:inset 0 1px 0px #fff,inset 0 -1px 0px #fff,inset 1px 0px 0px #fff,inset -1px 0px 0px #fff,0 4px 3px rgba(0,0,0,0.7);
  -webkit-border-radius:0 0 3px 3px;
  -moz-border-radius:0 0 3px 3px;
  border-radius:0 0 3px 3px;
}

/* .note:active {
-webkit-box-shadow:0 2px 2px rgba(0,0,0,0.4);
-moz-box-shadow:0 2px 2px rgba(0,0,0,0.4);
box-shadow:0 2px 2px rgba(0,0,0,0.4);
position:relative;
top:2px;
height:216px;
} */

.note:active::before {
  content:"";
  width:0px;
  height:0px;
  border-width:216px 5px 0px;
  border-style:solid;
  border-color:transparent transparent transparent rgba(0,0,0,0.1);
  position:absolute;
  left:0px;
  top:0px;
}

.note:active::after {
  content:"";
  width:0px;
  height:0px;
  border-width:216px 5px 0px;
  border-style:solid;
  border-color:transparent rgba(0,0,0,0.1) transparent transparent;
  position:absolute;
  right:0px;
  top:0px;
}

label {
  z-index: 0;
}

.tut {
  position: relative;
  top: 0px;
  left: -12px;
  width: 25px;
  height: 120px;
  margin-right: -24px;
  background: #333;
  background: -webkit-linear-gradient(-20deg,#333,#000,#333);
  background: -moz-linear-gradient(-20deg,#333,#000,#333);
  background: -ms-linear-gradient(-20deg,#333,#000,#333);
  background: -o-linear-gradient(-20deg,#333,#000,#333);
  background: linear-gradient(-20deg,#333,#000,#333);
  z-index: 1000;
  border-width: 1px 2px 7px;
  border-style: solid;
  border-color:#666 #222 #111 #555;
  -webkit-box-shadow:inset 0px -1px 2px rgba(255,255,255,0.4),0 2px 3px rgba(0,0,0,0.4);
  -moz-box-shadow:inset 0px -1px 2px rgba(255,255,255,0.4),0 2px 3px rgba(0,0,0,0.4);
  box-shadow:inset 0px -1px 2px rgba(255,255,255,0.4),0 2px 3px rgba(0,0,0,0.4);
  -webkit-border-radius: 0 0 2px 2px;
  -moz-border-radius: 0 0 2px 2px;
  border-radius: 0 0 2px 2px;
}


/***************************************************************************//**
 * Sheet music formatting
 ******************************************************************************/

.sheet {
  min-height: 15em;
  min-width: 20em;
}

#songTitleForm {
  width: 100%;
}

#songTitle {
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
  background-color: #F5F5F5;
  min-width: 75%;
  padding: 10px;
  text-align: center;
  font-size: 150%;
  font-weight: bold;
  font-family: 'Cormorant Garamond', sans-serif;
  border-width: 3px;
}

.sheet-music {
  background-color: #F5F5F5;
  display: block;
  margin: 10px;
  padding: 7px;
  font-size: 0.7em;
  font-size: 55%;
  min-width: 50em;
  min-height: 12em;
  line-height: 2em;
  overflow: auto;
  border-color: #ffffff;
  border: inset;
  border-width: 3px;
}

.staff-header {
  background-color: #F5F5F5;
  background-image: url("../res/notes/staff-header.png");
  background-repeat: no-repeat;
  background-size: auto 100%;
  height: 12em;
  width: 5.3em;
  z-index: -1;
  float: left;
  display: inline-block;
}

.bar {
  display: inline-block;
  background-image: url("../res/notes/staff.svg");
  background-size: auto 100%;
  background-repeat: repeat-x;
  position: relative;
  width: 7em;
  max-height:12em;
  float: left;
  padding-left: 2em;
  overflow: hidden;
}

.whole {
  background-image: url("../res/notes/whole.svg");
  background-color: transparent;
  background-size: auto 11%;
  background-repeat: no-repeat;
  height: 12em;
  width: 7em;
  margin-top: 5.4em;
  float: left;
  display: inline-block;
}

.half {
  background-color: transparent;
  background-size: auto 100%;
  background-repeat: no-repeat;
  height: 12em;
  width: 3em;
  display: inline-block;
}

.half.A4, .half.B4, .half.D4, .half.E4, .half.F4, .half.G4, .half.C4 {
  background-image: url("../res/notes/half.svg");
}

.half.C5 {
  background-image: url("../res/notes/half-down.svg");
  margin-left: 15px;
  width: 6em;
}

.quarter {
  background-color: transparent;
  background-size: auto 100%;
  background-repeat: no-repeat;
  height: 12em;
  width: 6em;
  float: left;
  display: inline-block;
}

.quarter.A4, .quarter.B4, .quarter.D4, .quarter.E4, .quarter.F4, .quarter.G4, .quarter.C4 {
  background-image: url("../res/notes/quarter.svg");
}

.quarter.C5 {
  background-image: url("../res/notes/quarter-down.svg");
  margin-left: 15px;
  width: 6em;
}

.eighth {
  background-color: transparent;
  background-size: auto 100%;
  background-repeat: no-repeat;
  height: 12em;
  width: 6em;
  float: left;
  display: inline-block;
}

.eighth.A4, .eighth.B4, .eighth.D4, .eighth.E4, .eighth.F4, .eighth.G4, .eighth.C4 {
  background-image: url("../res/notes/eighth.svg");
  margin-left:-20px;
}

.eighth.C5 {
  background-image: url("../res/notes/eighth-down.svg");
  margin-left: 15px;
  width: 6em;
}

.C4 {
  transform: translate(0, 4.8em);
}

.D4 {
  transform: translate(0, 3.8em);
}

.E4 {
  transform: translate(0, 3em);
}

.F4 {
  transform: translate(0, 2.2em);
}

.G4 {
  transform: translate(0, 1.5em);
}

.A4 {
  transform: translate(0, 0.7em);
}

.B4 {
  transform: translate(0, 0em);
}

.C5 {
  transform: translate(0, -0.7em);
}

