/***************************************************************************//**
 * HTML Elements
 ******************************************************************************/

* {
  box-sizing: border-box;
  margin: 0 0;
  padding: 0 0;
}

html {
  scroll-behavior: smooth;
  background-color: lightgray;
}

h2 {
  color: #4682B4;
}

h3 {
  margin-top: 8px;
}

div {
  display: block;
  width: 100%;
  /* border: solid black 1px; */
}

.border {
  border: solid black 1px;
  background-color: white;
  opacity: 0.65;
  text-align: center;
  font-weight: bold;
  min-height: 50px;
  vertical-align: middle;
}

form {
  display: inline-block;
}


/***************************************************************************//**
 * Two column formatting
 ******************************************************************************/

.row {
  margin-top:20px;
  width: 100%;
  overflow: hidden;
}

.column {
  float: left;
  padding: 10px;
}

.left {
  width: 60%;
  margin-right: 50px;
}

.right {
  width: 35%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead 
 * of next to each other */
@media screen and (max-width: 970px) {
  .left {
    width: 98%;
  }

  .right {
    width: 98%;
  }

  .playback {
    margin-top: 0;
  }
}


/***************************************************************************//**
 * Colors
 ******************************************************************************/

.gray {
  -webkit-filter: invert(1) brightness(0.6);
  filter: invert(1) brightness(0.6);
}

.green {
  color: #006400;
}

.red {
  color: #8B0000;
}


.content {
  margin-right: 15px;
  margin-bottom: 30px;
  margin-left: 15px;
  font-size: 100%;
  line-height: 1.5em;
  width: 98%;
}


.fadeInDown {
  animation-duration: 2s;
}



.sheet {
  min-height: 15em;
  min-width: 20em;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.4);
  top: 5px;
  left: 110%;
  opacity: 0;
  transition: opacity 1s;
}

.tooltip:hover .tooltiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 0.75;
}


.switch {
  vertical-align:top;
  position: relative;
  display: inline-block;
  margin-left: 1px;
  width: 70px;
  height: 34px;
  border: #a9a9a9 1px solid;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
}

input:checked + .slider {
  background-color: #4682B4;
}

input:focus + .slider {
  box-shadow: 0 0 1px gray;
}

input:checked + .slider:before {
  transform: translateX(30px);
}


.playback {
  display: inline-block;
  margin-top: 15px;
  font-size: 100%;
  width: 400px;
  vertical-align: top;
  line-height: 100%;
  text-align: left;
}

button {
  margin-bottom: 5px;
  padding: 7px 5px;
  font-family: 'Cormorant Garamond', sans-serif;
  font-weight: bold;
  width: 32%;
  max-width: 300px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

#button {
  display:inline-block;
  margin-bottom: 5px;
  padding: 7px 5px;
  font-family: 'Cormorant Garamond', sans-serif;
  font-weight: bold;
  width: 9.5em;
  cursor: pointer;
  max-width: 300px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
  color: #ccc;
}

.switch:hover, button:hover, #button:hover {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 3px 15px 0 rgba(0,0,0,0.19);
}

#duration {
  padding: 7px 10px;
  width: 65%;
  font-family: 'Cormorant Garamond', sans-serif;
  font-weight: bold;
}

