* {
  box-sizing: border-box;
  margin: 0 0;
  padding: 0 0;
}

html {
  scroll-behavior: smooth;
  background-color: lightgray;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
}

.left {
  width: 45%;
  margin-right: 50px;
}

.right {
  width: 45%;
}

.row {
  margin-top:30px;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 970px) {
  .left {
    width: 95%;
  }
}

.fadeInDown {
  animation-duration: 2s;
}

div {
  display: block;
  width: 100%;
  /* border: solid black 1px; */
}

.sheet {
  min-height: 20em;
  min-width: 20em;
}

.playback {
  display: block;
  margin: 5px 15px;
  width: 350px;
  height: 190px;
  vertical-align: top;
}

.gray {
  -webkit-filter: invert(1) brightness(0.6);
  filter: invert(1) brightness(0.6);
}

.green {
  color: #006400;
}

.red {
  color: #8B0000;
}

form {
  display: inline-block;
}

button {
  padding: 2px 15px;
  font-family: 'Cormorant Garamond', sans-serif;
  font-size: 85%;
  font-weight: bold;
}

button:disabled {
  background-color: #666;
  color: #ccc;
}

.button {
  padding: 2px 15px;
  font-family: 'Cormorant Garamond', sans-serif;
  font-size: 85%;
  font-weight: bold;
}

#duration {
  padding: 6px 10px;
  font-family: 'Cormorant Garamond', sans-serif;
  font-weight: bold;
}
