html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

h1, h2 {
  font-variant: small-caps;
}

h2 {
  font-size: 110%;
}

h3 {
  color: black;
  font-family: 'Cormorant Garamond', sans-serif;
  font-weight: normal;
  font-size: 90%;
}

p {
  display: inline-block;
  margin: 15px;
  max-width: 365px;
  vertical-align: middle;
  text-align: left;
  color: black;
  font-family: 'Cormorant Garamond', sans-serif;
  font-size: 80%;
  font-weight: normal;
}

img {
  max-width: 250px;
}

i {
  color: #904752;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

.section {
  margin: 0 0;
  font-size: 120%;
  padding-right: 320px;
  /*padding-left: 70px;
  max-width: 800px;
  text-align: center;*/
  font-weight: bold;
  min-height: 700px;
}

.container {
  margin-left: 70px;
  float: right;
  max-width: 800px;
  text-align: center;
  font-weight: bold;
}

.mainColor {
  background-color: lightgray;
  color: #904752;
}

.accentColor {
  background-color: #904752;
  color: black;
}

#landing {
  height: 100vh;
}

.icon-bar {
  position: fixed;
  top: 50%;
  right: 7%;
  transform: translateY(-50%);
}

.sticky {
  display: block;
}

.icon-bar a {
  display: block;
  text-align: left;
  padding: 25px 20px;
  transition: all 0.3s ease;
  font-size: 17px;
}

.icon-bar a:hover {
  background-color: lightgray;
}

.tag {
  color: lightgray;
  background: black;
}
