html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

h1, h2 {
  font-variant: small-caps;
}

h2 {
  font-size: 110%;
}

h3 {
  color: black;
  font-family: 'Cormorant Garamond', sans-serif;
  margin-top: -20px;
  font-weight: normal;
  font-size: 90%;
}

p {
  display: inline-block;
  margin: 15px;
  max-width: 365px;
  vertical-align: middle;
  text-align: left;
  color: black;
  font-family: 'Cormorant Garamond', sans-serif;
  font-size: 80%;
  font-weight: normal;
}

img {
  max-width: 250px;
}

i {
  color: #904752;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

.section {
  margin: 0 0;
  font-size: 120%;
  padding-right: 320px;
  font-weight: bold;
  min-height: 100vh;
}

.container {
  margin-left: 70px;
  float: right;
  max-width: 800px;
  text-align: center;
  font-weight: bold;
}

.mainColor {
  background-color: lightgray;
  color: #904752;
}

.accentColor {
  background-color: #904752;
  color: black;
}

#landing {
  background: url("res/desktop.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}

#offset {
  position: fixed;
  top: 0px;
}

.start {
  border: none;
  padding: 15px 62px;
  background-color: black;
  font-size: 150%;
  text-align: center;
  text-decoration: none;
  color: lightgray;
  cursor: pointer;
  position: absolute;
  bottom: 0%;
  right: 7%;
}

.animated {
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
}

.icon-bar {
  margin-right: 7%;
  position: sticky;
  float: right;
  top: 20%;
}

.sticky {
  position: fixed;
  top: 50%;
  right: 7%;
  transform: translateY(-50%);
}

.icon-bar a {
  display: block;
  text-align: left;
  padding: 25px 20px;
  transition: all 0.3s ease;
  font-size: 17px;
}

.icon-bar a:hover {
  background-color: lightgray;
}

.tag {
  color: lightgray;
  background: black;
}

.active {
  background-color: lightgray;
}
